@{
    ViewData["Title"] = "Customer List";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-header bg-primary" >
            <h4 class="card-title text-white">Customer</h4>
        </div>

        @* <div class="card-body">
            <form asp-action="AddCustomer" asp-controller="Customer">
                <div class="mb-2">
                    <label>Id</label>
                    <input type="text" asp-for="Id" class="form-control"/>
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>

                <div class="mb-2">
                    <label>Name</label>
                    <input type="text" asp-for="Name" class="form-control"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-2">
                    <label>BirthDate</label>
                    <input type="text" asp-for="BirthDate" class="form-control"/>
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>

                <div class="mb-2">
                    <input type="checkbox" class="custom-checkbox" asp-for="IsYoungDriver"/>
                    <label>Is Young Driver?</label>
                </div> *@
@* 
                <div class="mb-2">
                    <button type="submit" class="btn btn-primary w-100">Add new customer</button>
                </div>
            </form> *@
        </div>
    </div>
</div>